<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>promptTemplate</key>
    <string>Please create a short summary of this markdown note. Don't include dates or times. Be as concise as possible, include acronyms, abbreviations, etc. for brevity.</string>
    <key>model</key>
    <string>summit:latest</string>
    <key>endpointURL</key>
    <string>http://localhost:11434/api/generate</string>
</dict>
</plist>